// Place all the styles related to the chrome_extensions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hide {
  display: none !important;
}

@font-face {
    font-family: joe_font;
    src: url(fonts/joe_font.ttf);

}

.joe_font {
  font-family: joe_font;
  font-size: 200%;
  color: green;
}


body#Joe_Chrome_Extension_No_Touchie button#submit {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightblue;
}

body#Joe_Chrome_Extension_No_Touchie button#submit.saved {
  background-color: red;
}

body#Joe_Chrome_Extension_No_Touchie {
  width:100px;
  height:200px;
}

body#Joe_Chrome_Extension_No_Touchie .container {
  height:30px;
  width:50px;
}

body#Joe_Chrome_Extension_No_Touchie li.site,
body#Joe_Chrome_Extension_No_Touchie button {
  display: inline-block;
}

body#Joe_Chrome_Extension_No_Touchie .attached_tags_list {
  /*display: inline-block;*/
}
