<%# @site_tags = @site.includes(:tags)
@user_tags = User.first.tags %>


<div class='container saved'>
  <p class="joe_font">Saved Page</p>
  <%#= select_tag "tags", options_for_select(@user_tags, @site_tags), multiple: true %>

</div>











<!--

<div class='container saved'>" +
 ("<select name='post[person_id]'>" +
   "<option value='unread'" + (this.read_status == 'unread' ? " selected='selected'" : '') + ">Unread</option>" +
   "<option value='read'" + (this.read_status == 'read' ? " selected='selected'" : '') + ">Read</option>" +
 "</select>") +
 "<br>" +
 GO_TO_SITE_LINK +
 "<button id='delete' type='button'>Delete Url</button>" +
 TAGS_DIV.create(['one', 'two', 'three'],['four', 'five', 'six']) +
"</div>"
 -->
