<div class='container unsaved'>
  <p>Unsaved Page</p>
  <%#= select_tag "tags", options_for_select(@user_tags, @site_tags), multiple: true %>

<div style="background-color: black; width: 200px; top: 100px; left: 200px;"></div>
  <div class='container unsaved'>
    <button id='save' type='button'>Save Url</button>

    <%= image_tag 'chrome_extension/ajax-loader.gif', id: 'loading_gif' %>
  </div>
</div>
