<h4 class="text-center"></h4>
<div id="side_col" >
  <div class="list-group">
      <a href="#" class="list-group-item active">
          <span class="glyphicon glyphicon-camera"></span> Reading <span class="badge"><%=  %></span>
      </a>
      <a href="#" class="list-group-item active">
          <span class="glyphicon glyphicon-file"></span> UnRead <span class="badge"><%=  %></span>
      </a>
      <a href="#" class="list-group-item active">
          <span class="glyphicon glyphicon-music"></span> Readed <span class="badge"><%=  %></span>
      </a>
  </div>
</div>
