<ul>
  <% @sites.each do |site|%>
    <li class="site">
      <%= link_to "#{site.url}", site.url %>
      <%= button_to :delete, "/sites/#{site.id}/delete", { action: :destroy, method: :post} %>
    </li>
  <% end %>
</ul>