<%= javascript_include_tag "jquery-1.10.2.js" %>
<%= javascript_include_tag "sites.js"%>

<div class="container">
<div class="page-header">
  <h1 class="text-center">Book Mark Application</h1>
</div>
    <div class="row">
      <!-- side column -->
      <div class="col-lg-2">
         <%= render "side_column" %>
      </div>

      <!-- main content -->
      <div class="col-lg-10">


        <table class="table-condensed table-striped">
          <thead>
            <th>
              <td>Row</td>
              <td>Title</td>
              <td>Url</td>
              <td>Status</td>
              <td>Rating</td>

            </th>
          </thead>

          <tbody>

            <% @sites.each_with_index do |site, index|%>
              <tr>
                <td class="site list-group">
                  <%= render "list_item", locals: { site: site, index: index }%>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>

      </div>

</div>
